.footer {
  width: 100%;

  &__widet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 470px;
    background-color: $blue;
    padding: 5% 10%;
    @include pc {
      justify-content: flex-start;
      align-items: flex-start;
      height: 300px;
    }

    &--header {
      font-family: $font-serif;
      font-size: 15px;
      @include pc {
        font-size: 20px;
      }
      @include md {
        font-size: 20px;
      }
    }
    &--item {
      width: 100%;
      margin-bottom: 10%;
      @include pc {
        margin: 0 1.5%;
      }
      @include md {
        margin-bottom: 3%;
      }
      &.left {
        @include pc {
          width: 15%;
        }
      }
      &.center {
        @include pc {
          width: 35%;
        }
      }
      &.right {
        @include pc {
          width: 40%;
        }
      }

      &-sns .fab {
        color: $red;
        font-size: 20px;
        margin-right: 5%;
        margin-bottom: 10%;

        &.fa-instagram {
          font-weight: $font-weight-bold;
        }
      }
      &-category {
        ul {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          padding-left: 0;
        }
        li {
          margin: 0 0 0 2%;
          &::after {
            content: '/';
            display: inline;
            color: $red;
            padding: 0 10px 0 20px;
          }
          &:last-child::after {
            display: none;
          }
          a {
            color: $red;
          }
        }
      }
      &-tags {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        p {
          font-size: 10px;
          border: 0.5px solid $black;
          margin: 0 5% 5% 0;
          padding: 5px 10px;
          @include pc {
            font-size: 15px;
            margin: 0 10px 10px 0;
          }
          @include md {
            font-size: 15px;
            margin: 0 10px 10px 0;
          }
        }
      }
    }
  }

  &__copy {
    height: 45px;
    text-align: center;
    p {
      font-size: 10px;
      line-height: 38px;
      @include pc {
        font-size: 15px;
      }
    }
  }
}