.footer {
  width: 100%;

  &__widet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: $blue;
    padding: 5% 5%;
    @include pc {
      justify-content: space-between;
      align-items: flex-start;
      height: auto;
    }
    @include md {
      height: auto;
    }

    &--header {
      font-family: $font-serif;
      font-size: 18px;
      @include pc {
        font-size: 20px;
      }
      @include md {
        font-size: 20px;
      }
    }
    &--item {
      width: 100%;
      margin-bottom: 10%;
      @include pc {
        margin: 0 3%;
      }
      @include md {
        margin-bottom: 3%;
      }
      &.left {
        @include pc {
          width: 15%;
        }
      }
      &.center {
        @include pc {
          width: 40%;
        }
      }
      &.right {
        @include pc {
          width: 20%;
        }
      }

      &-sns .fab {
        color: $red;
        font-size: 20px;
        margin-right: 5%;
        margin-bottom: 2%;
        @include pc {
          margin-right: 10%;
          margin-bottom: 10%;
        }

        &.fa-instagram {
          font-weight: $font-weight-bold;
        }
      }
      &-category {
        ul {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          padding-left: 0;
        }
        li.cat-item {
          @include pc {
            margin: 0 0 5% 2%;
          }
          &::after {
            content: '/';
            display: inline;
            color: $red;
            padding: 0 5px;
          }
          &:last-child::after {
            display: none;
          }
          a {
            color: $red;
          }
        }
      }
      &-subscribe {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        form {
          margin-top: -25px;
          label {
            display: none;
          }
          p {
            margin-top: 0;
          }
          input[type=email] {
            border: none;
            width: 23em;
            height: 45px;
            color: $gray;
            font-size: 13px;
            font-weight: $font-weight-light;
            padding-left: 10px;
          }
          input[type=submit] {
            border: none;
            width: 100px;
            height: 50px;
            color: $white;
            font-size: 13px;
            background-color: $red;
            padding: 7px 13px;
            cursor: pointer;
            @include pc {
              font-size: 15px;
            }
            @include md {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  &__copy {
    height: 45px;
    text-align: center;
    p {
      font-size: 10px;
      line-height: 38px;
      @include pc {
        font-size: 15px;
      }
      @include md {
        font-size: 13px;
      }
    }
  }
}