.pagenation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
  margin: 10% 0;
  @include pc {
    width: 50%;
    margin: 5% auto;
  }
  p {
    font-family: $font-serif;
  }
  a:hover {
    opacity: 0.8;
  }
}